<a href="https://colab.research.google.com/github/dubidub/Coursera_Capstone/blob/master/Segmenting_and_Clustering_Neighborhoods_in_Toronto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [47]:
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.'
df = pd.read_html(url, header=0)[0]

df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [48]:
df = df[df.Borough != 'Not assigned']
df = df.groupby(['Postcode', 'Borough'], sort=False).agg(', '.join)
df.reset_index(inplace=True)
df['Neighbourhood'] = np.where(
    df['Neighbourhood'] == 'Not assigned', 
    df['Borough'], 
    df['Neighbourhood']
    )

df

    Postcode  ...                                      Neighbourhood
0        M3A  ...                                          Parkwoods
1        M4A  ...                                   Victoria Village
2        M5A  ...                                       Harbourfront
3        M6A  ...                   Lawrence Heights, Lawrence Manor
4        M7A  ...                                       Queen's Park
..       ...  ...                                                ...
98       M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99       M4Y  ...                               Church and Wellesley
100      M7Y  ...  Business Reply Mail Processing Centre 969 Eastern
101      M8Y  ...  Humber Bay, King's Mill Park, Kingsway Park So...
102      M8Z  ...  Kingsway Park South West, Mimico NW, The Queen...

[103 rows x 3 columns]

In [49]:
df.shape

(103, 3)

In [51]:
lat_lng = pd.read_csv('https://cocl.us/Geospatial_data')
lat_lng.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [52]:
lat_lng.rename(columns={'Postal Code':'Postcode'}, inplace=True)

df_new = pd.merge(df, lat_lng, on='Postcode')
df_new.head()

  Postcode           Borough  ...   Latitude  Longitude
0      M3A        North York  ...  43.753259 -79.329656
1      M4A        North York  ...  43.725882 -79.315572
2      M5A  Downtown Toronto  ...  43.654260 -79.360636
3      M6A        North York  ...  43.718518 -79.464763
4      M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [53]:
df_new.shape

(103, 5)