<a href="https://colab.research.google.com/github/dubidub/Coursera_Capstone/blob/master/Segmenting_and_Clustering_Neighborhoods_in_Toronto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [47]:
url = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.'
df = pd.read_html(url, header=0)[0]

df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [48]:
df = df[df.Borough != 'Not assigned']
df = df.groupby(['Postcode', 'Borough'], sort=False).agg(', '.join)
df.reset_index(inplace=True)
df['Neighbourhood'] = np.where(
    df['Neighbourhood'] == 'Not assigned', 
    df['Borough'], 
    df['Neighbourhood']
    )

df

    Postcode  ...                                      Neighbourhood
0        M3A  ...                                          Parkwoods
1        M4A  ...                                   Victoria Village
2        M5A  ...                                       Harbourfront
3        M6A  ...                   Lawrence Heights, Lawrence Manor
4        M7A  ...                                       Queen's Park
..       ...  ...                                                ...
98       M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99       M4Y  ...                               Church and Wellesley
100      M7Y  ...  Business Reply Mail Processing Centre 969 Eastern
101      M8Y  ...  Humber Bay, King's Mill Park, Kingsway Park So...
102      M8Z  ...  Kingsway Park South West, Mimico NW, The Queen...

[103 rows x 3 columns]

In [49]:
df.shape

(103, 3)